@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

body {
  font-family: 'Nunito' sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #2e2e32;
  display: flex;
}

.playlist {
  width: 80%;
  height: 54%;
  background-color: #3c3c42;
  padding-left: 40px;
}

header {
  width: 60%;
  height: 10%;
  color: #706edd;
  font-size: 32px ;
  padding-bottom: 20px;
}
.tracklist {
  border: 1px solid black;
  width: 60%;
  min-height: fit-content;
}
.track__container {
  background-color: aliceblue;
  width: 5%;

}
